* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/footer_lodyas.png);
}

h1 {
    color: white;
    font-family: 'Chilanka', cursive;
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

h4 {
    color: white;
    font-family: 'Chilanka', cursive;
    text-align: center;
    font-size: 1rem;
}

.botones {
    text-align: center;
    margin-top: 3%;
}

button {
    padding: 10px;
    width: 10%;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cards {
    width: 80px;
    margin-top: 5px;
}

#text-area {
    font-size: 36px;
    color: white;
    font-family: 'Chilanka', cursive;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.dealer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
strong:nth-child(1){
    margin-left: 34%;
}
span{
    margin-right: 26%;
}
.player{
    margin-bottom: 50px;
    width: 250px;
    flex-direction: column;
    justify-content: center;
}
.player strong{
    margin: 0;
}
.dealer strong{
    margin: 0;
}
.jugadores{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.result{
    width: 100%;
    text-align: center;
}